# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\Panch\Documents\Universidad\11vo Semestro\Seminario_de_Robotica_y_Sistemas_Autonomos\Tareas\Tarea2\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
